.login-page {
    height: calc(100vh - 64px);

    display: flex;
    align-items: center;
    justify-content: center;

    background: radial-gradient(circle at top,
            #1e293b,
            #020617);
}

mat-card {
    width: 320px;
    padding: 28px;

    border-radius: 20px;

    background: rgba(255, 255, 255, .06);
    backdrop-filter: blur(12px);

    display: flex;
    flex-direction: column;
    gap: 18px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, .6);
}